* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::-webkit-scrollbar {
  width: 10px;
}

* ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

* ::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#30ff00), to(transparent));
  background: linear-gradient(#30ff00, transparent);
  border-radius: 8px;
}

* ::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd900), to(transparent));
  background: linear-gradient(#ffd900, transparent);
  border-radius: 8px;
}

* ::-moz-selection {
  background: rgba(0, 123, 255, 0.3);
}

* ::selection {
  background: rgba(0, 123, 255, 0.3);
}

* body {
  background: url("/assets/imges/bg-skills.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

* body h1 {
  font-family: sans-serif;
  font-size: 40px;
  color: greenyellow;
}

* .toDoWrapper {
  width: 500px;
  height: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(240, 248, 255, 0.596);
  overflow-y: scroll;
  /* custom scroll bar */
}

* .input {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 110px;
      grid-template-columns: 1fr 110px;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 20px;
}

* .input input, * .input select {
  font-size: 16px;
  padding: 7px 20px;
  font-family: sans-serif;
}

* .input input {
  padding-left: 5px;
}

* .toDosList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

* .toDosList .todoDiv {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: 1fr 55px 55px;
      grid-template-columns: 1fr 55px 55px;
}

* .toDosList .todoDiv p {
  padding: 10px;
  background-color: antiquewhite;
  font-family: sans-serif;
}

* .toDosList .todoDiv .p-done {
  background-color: #f38383;
  text-decoration: line-through;
}

* .toDosList .todoDiv button {
  border: none;
}

* .toDosList .todoDiv .done {
  background-color: greenyellow;
}

* .toDosList .todoDiv .delete {
  background-color: #f78383;
}

@media (max-width: 500px) {
  body h1 {
    font-size: 30px;
    text-align: center;
  }
  body .toDoWrapper {
    width: 350px;
  }
  body .toDoWrapper .input {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 200px 80px;
        grid-template-columns: 200px 80px;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 20px;
  }
}

@media (max-width: 360px) {
  body h1 {
    font-size: 30px;
    text-align: center;
  }
  body .toDoWrapper {
    width: 300px;
  }
  body .toDoWrapper .input {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 150px 80px;
        grid-template-columns: 150px 80px;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 20px;
  }
}
/*# sourceMappingURL=style.css.map */